# envs / secrets
**/.env
**/*.secret
**/secrets/

# runtime data (optional – je nachdem ob du persisted configs versionieren willst)
**/pihole/etc-pihole/*
**/pihole/etc-dnsmasq.d/*
**/homeassistant/config/*
**/portainer_data/*

# OS / editor
.DS_Store
.vscode/
.idea/
